* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #222;
  padding: 20px;
}

h1 {
  color: #0078ff;
  margin-bottom: 15px;
}

h3 {
  color: #ff0000;
  margin-bottom: 15px;
  margin-top: 10px;
}

.updated {
    margin-top: 10px;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  background: #0078ff;
  color: white;
  text-align: left;
}